/*************************************************
General Styles
*************************************************/
html {
    background: none;
}
* {
    text-shadow: none !important;
}
body {
    background-color: [[setting:backgroundcolor]];
    font-family: Arial, "Helvetica Neue", Helvetica, Gotham, sans-serif;
    padding-top: 0;
}
.logo {
    padding: 20px;
}
a, a:link  {
    color: [[setting:linkcolor]];
}
a:hover, a:active {
    text-decoration: underline;
}
a:visited {
    color: [[setting:linkvisitedcolor]];
}
header {
    border-bottom: 1px solid [[setting:backgroundcolor]];
}
#page-navbar a.dimmed, 
#page-navbar a.dimmed:link, 
#page-navbar a.dimmed:visited, 
#page-navbar a.dimmed_text, 
#page-navbar a.dimmed_text:link, 
#page-navbar a.dimmed_text:visited, 
#page-navbar .dimmed_text, 
#page-navbar .dimmed_text a, 
#page-navbar .dimmed_text a:link, 
#page-navbar .dimmed_text a:visited {
    color: #fff;
    opacity: 0.5;
}
h1, h2, h3 {
    font-weight: normal;
    line-height: 1em;
}
h1 {font-size:1.6em;}
h2, h2.headingblock {font-size: 1.4em;}
h3 {font-size: 1.2em; line-height: 1.2em;}

h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1em;
}
hr {
    border: none;
    height: 1px;
    background: [[setting:backgroundcolor] 20%];
}
input {
    margin: 0 !important;
}
select {
    /*width: 95%;*/
    width: auto;
}
.dimmed {
    opacity: 0.6;
}
#page-content {
    background: #ffffff;
    padding-bottom: 20px;
}
#page-content h1, 
#page-content h2, 
#page-content h3 {
    font-weight: bold;
}
.generaltable tr,
.generaltable td,
.generaltable th {
    border: 1px solid #ddd;
}

/* Layout */
#page {
    margin: 0 auto !important;
    padding: 0 15px 0 15px;
}
.container-fluid {
    max-width: auto;
    padding: 0;
}
section {
    margin: 0 !important;
}
#block-region-side-pre, 
#block-region-side-post {
    padding: 15px;
}
#region-main {
    padding: 15px;
    margin-bottom: 15px;
}

/*************************************************
YUI
*************************************************/
.file-picker .fp-repo-area {
    font-size: 1.2em;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 0 8px 0 0;
}
.ui-dialog .ui-dialog-title {
    margin: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    top: 8px;
}
.ui-datepicker-trigger {
    padding-left: 10px;
}
/* Fix for File picker when zooming out */
.dir-rtl .file-picker .fp-repo-items {
    float: left;
}
.file-picker .fp-repo-items {
    width: 79%;
}
.singlebutton div {
    margin: 5px 0;
}

/*************************************************
COURSE
*************************************************/
/* Course box */

.coursebox {
    border-radius: 0;
    padding: 0;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.coursebox > .info > .name a {
    padding-left:40px;
    display: table;
    width: 100%;
}
.coursebox > .info > h3.coursename {
    margin-left: 10px;
}

.coursebox > .info > .coursename {
    display: inline;
    float: left;
}
.coursebox > .info > .coursename a {
    display: inline;
    padding: 15px 39px;
    width: 100%;
}
.coursebox .moreinfo {
    float: right;
}

/*************************************************
COURSE FORMAT
*************************************************/
/*topics format*/
.course-content ul.topics li.section .left, 
.course-content ul.topics li.section .right,
/*weekly format*/
.course-content ul.weeks li.section .left, 
.course-content ul.weeks li.section .right {
    width: auto;
    padding: 15px 7px;
}

.course-content ul.topics li.section .content, 
.course-content ul.weeks li.section .content {
    margin: 0;
}
.course-content ul li.section.main {
    background: #F6F6F6;
    margin-bottom: 10px; 
    padding: 10px;
    border: none;
}
.course-content .section-summary .summarytext {
    margin: 2px 15px;
}
.course-content .current {
    border: 1px solid [[setting:buttoncolor]] !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mod-indent-1 {
    width: auto;
}
/* Course content - Single section*/
.course-content .single-section .section-navigation {
    margin-bottom: 0;
}
.course-content .single-section .section-navigation .title {
    clear: none;
}
.course-content .single-section .mod-indent-2 {
    margin-left: 0;
}

/* Course category */
.course_category_tree .category > .info {
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: none;
}
#page-course-index-category .singleselect {
    width: 100%;
}

/* Course manage */
#page-admin-course-manage h2.main {
    display: table;
    clear: both;
    padding-top: 10px;
}

/*************************************************
Edit Course
*************************************************/
.section .activity .editing_move {
    float: left;
    position: relative;
}
.section .activity.modtype_label .commands {
    margin-left: 0;
}
#page-course-view-topics .section .label .contentwithoutlink, 
#page-course-view-topics .section .label .activityinstance {
    display: table;
    padding: 0;
}
.editing .section .activity .contentwithoutlink, 
.editing .section .activity .activityinstance {
    width: auto;
}
.editing .section .activity .activityinstance {
    min-width: 0 !important;
    padding-right: 10px;
}
.section .activity .availabilityinfo, 
.section .activity .contentafterlink {
    margin-left: 0;
}
.section .label .mod-indent-outer {
    display: table;
}

/*************************************************
Manage Course
*************************************************/
table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form + div, div.backup-section + form, #fgroup_id_buttonar {
    padding: 0;
    margin: 10px 0 0;
    background: none;
    border: none;
}
table.flexible, .generaltable {
    width: 100% !important;
}

/*************************************************
Header
*************************************************/
#page-header { 
    color: [[setting:blockheadertextcolor]];
    padding: 0;
    background: [[setting:headerbgcolor]];
    position: relative;
}
#page-header {
    margin: 0;
}
.bannertext {
    position: relative;
    float: right;
    margin-top: -75px;
    font-size: 1.5em;
    color: #333;
}
.headimage {
    float: right;
}


/*************************************************
Buttons and Forms
*************************************************/
.buttons {
    text-align: left !important;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    background-color: [[setting:buttoncolor]];
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    margin: 5px !important;
    padding: 5px 10px;
    border: 1px solid [[setting:buttoncolor]] !important;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, 
input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, 
button:active, input.form-submit:active, input[type="button"]:hover, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button.active, input.form-submit.active, input[type="button"].active, input[type="submit"].active, input[type="reset"].active, button.disabled, input.form-submit:hover, input.form-submit.disabled, input[type="button"].disabled, input[type="submit"].disabled, input[type="reset"].disabled, button[disabled], input.form-submit[disabled], input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled], input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    color: #fff;
    background-color: [[setting:buttoncolor]];
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    display: inline-block;
    text-decoration: none;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin: 3px;
}
input, textarea, .uneditable-input {width: auto;}
tr .header a {color: [[setting:buttoncolor]];}
#region-main .singlebutton input, #region-main input[type="submit"] {
    /*margin: 10px 10px 10px 0 !important;*/
}

.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {
    /*margin-left: auto;*/
}
.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
    /*width: auto;*/
}
.togglecompletion input {
    width: auto; /*fix for IE*/
    background: none;
    border: none !important;
    padding: 0;
}
.mform .fitem div.fitemtitle {
    text-align:left;
    font-weight:bold;
    margin-top:2px;
    width: auto;
}
.mform .fitem .felement {
    width: 72%;
    float: right;
    margin-left: 0;
}
.mform fieldset.collapsible legend a.fheader {
    margin-left: 0;
}

/*************************************************
Breadcrumb, Navbar
*************************************************/
#page-navbar-wrapper {
    width: 100%;
    background: [[setting:pagenavbgcolor]];
}    
#page-navbar {
    display: block;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}
#page-navbar .breadcrumb-button label {
    color: white;
    font-size: .8em;
}
.breadcrumb {
    background: none;
    color: [[setting:pagenavtextcolor]] !important;
    margin: 0;
}
.breadcrumb a {
    color: [[setting:pagenavtextcolor]] !important;
    font-weight: bold;
}
.breadcrumb > li > .divider {
    font-size: 0.8em;
    color: [[setting:pagenavtextcolor]] !important;
}
.breadcrumb-button {
    /*margin-right: 10px !important;*/
    margin-top: 0;
}
.breadcrumb-button .singlebutton {
    float: left;
}
.breadcrumb-button .singlebutton div {
    margin: 0;
}
.breadcrumb-nav {
    margin-bottom: 0;
    margin-top: 2px;
}
.breadcrumb-nav .breadcrumb {
    padding: 7px 0 7px 20px;
    float: left;
}
input#navsearchbox, #page-navbar input[type="submit"] {
    margin-bottom: 0;
}
input#navsearchbox {
    padding: 0 6px;
}

/*************************************************
Login page
*************************************************/
.loginpanel {
    border: 1px solid #dddddd;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}
.logininfo {
    padding-left: 15px;
    font-size: 0.9em;
    /*float: left;*/
}
.loginfailures {
    position: relative;
    float: right;
    color: red;
}
.loginfailures a {
    color: red;
}
.loginbox.twocolumns .loginpanel {
    border-right: 1px solid #ddd;
}
.user-picture > a:hover {
    background: none !important;
}
#page-login-index .loginerrors {
    text-align: center !important;
}

/*************************************************
Forgotten Password
*************************************************/
#page-login-forgot_password .boxwidthnormal {
    width: 100%;
    padding: 20px 0;
}

/*************************************************
Footer
*************************************************/
#page-footer {
    border-top: 1px solid #d3d4d6;
    margin-top: 0;
    background: #fafafa;
    background: -moz-linear-gradient(90deg, #f2f2f2 17%, #fafafa 82%);
    background: -webkit-linear-gradient(90deg, #f2f2f2 17%, #fafafa 82%);
    background: -o-linear-gradient(90deg, #f2f2f2 17%, #fafafa 82%);
    background: -ms-linear-gradient(90deg, #f2f2f2 17%, #fafafa 82%);
    background: linear-gradient(180deg, #f2f2f2 17%, #fafafa 82%);
    margin: 0;
    font-size: 0.85em !important;
}
#page-footer p {
    margin: 0;
}
#page-footer #footnotewrapper {
    padding: 0 15px;
    text-align: left;
    min-height: 20px;
}
#page-footer .helplink {
    float: right;
}
#page-footer .year {
    padding: 0 10px 0 0;
    float: left;
}
#page-footer .text-left {
    float: left;
}
#page-footer a:hover, #page-footer a:active {
    text-decoration: underline;
}

/* Sticky Footer */
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 50px;
}
#page-footer {
    height: 50px;
    position: absolute;
    bottom: 0;
}

/*************************************************
Blocks
*************************************************/
.block {
    padding: 0;
    /*margin: 15px 15px 0 15px;*/
    -webkit-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
    background: [[setting:blockbgcolor]];
    clear: both;
}
.block .content {
    background: [[setting:blockbgcolor]];
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 12px;
}
.block .header .title h2, .block h3.main {
    text-transform: none;
    text-shadow: none;
    padding: 2px 10px;
    font-weight: normal;
    text-align: left;
    color: [[setting:blockheadertextcolor]];
}
.block .header .title .commands, .block_adminblock .content, .block .footer {
    padding: 0;
}
#region-pre .skip-block-to {
    height: 0px;
}
.block .header, 
.block.hidden .header {
    border-bottom: 0;
    background-color: [[setting:blockheaderbgcolor]];
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 1%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(1%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    clear: both;
}
.block .header h2 {
    font-size: 1.1em;
    color: [[setting:blockheadertextcolor]];
}
.block .header, .block h2.header {
    padding: 5px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.block .header .block_action {
    padding: 4px 0 0;
    width: auto;
}
.block .header .block_action img {
    vertical-align: top;
}
.block .content .info,
.block_recent_activity .activitydate, 
.block_recent_activity .activityhead {
    text-align: left;
}
.block.invisible {
    opacity: 0.5 !important;
}

/* Block - Navigation */
.block_navigation .header .block_action {
    padding: 4px 0 0;
}
.block_navigation .block_tree li ul {
    padding-left: 5px;
}
.block_navigation.block li p.navigation_node {
    background: url([[pix:theme|home_grey]]) 1px no-repeat !important; 
    margin: 0 !important; 
    padding-left: 25px !important; 
}

/* Block - Main Menu */
.block_site_main_menu .footer {
    margin-top: 0;
}

/* Block - Login */
.block_login .content {
    max-width: 100% !important;
}
.block_login input#login_username, 
.block_login input#login_password {
    width: 90%;
}
#notice {
    width: auto;
}

/* Block - Add a block */
.block_adminblock .content .singleselect {
    margin: 5px;
}

/* Block - My Courses */
.mycourses.block .content .header{
    border-radius: 0;
    color: #333;
    background: #eee;
}

/* Block - Calendar */
.block_calendar_month.block .content a, .block_calendar_month.block .content a:hover, .block_calendar_month.block .content a:active {color: #333;}
.block_calendar_month.block .content {background: #fff; color: #333; padding-bottom: 10px;}
.block .minicalendar {max-width: 100%;}
.block_calendar_month.block .minicalendar td.today, .block .minicalendar td.today {background:[[setting:buttoncolor]]; }
.block_calendar_month.block .minicalendar td.today a, .block .minicalendar td.today a {color: #fff !important;}
.block_calendar_month.block .minicalendar td.today .calendar-event-panel {color: #333;}
.block .minicalendar td.weekend {color: #AA0000;}
.block .minicalendar th, .block .minicalendar td {padding: 5px 0; border: 1px solid #eee;}
.block .calendar-controls .current {padding-bottom: 5px;}

/* Block - Book */
.book_content {
    padding: 10px;
    border: 1px solid #ddd;
}
.path-mod-book .navtop {
    margin: 0;
}
.path-mod-book .navtop img.icon, 
.path-mod-book .navbottom img.icon {
    width: auto;
    height: auto;
}
.path-mod-book .navbottom, .path-mod-book .navtop {
    padding: 10px 0;
}
.path-mod-book .block_book_toc .clearfix:before,
.path-mod-book .block_book_toc .clearfix:after {
    display: inline;
}

/* Block - Logged-in Users */
.block_myprofile.block {
    text-align: center;
}
.block_myprofile.block .content {
    padding: 10px;
}

/* Block - Poll */
.block_poll.block input {
    float: left;
    margin-right: 10px !important;
}
.block_poll.block label {
    display: table;
}

/*************************************************
Homepage (My Page)
*************************************************/
#page-my-index #region-main .block_course_overview .coursebox {
    border: none;
    box-shadow: none;
    padding: 0;
}
#page-site-index #page-navbar {
    display: block;
}
#page-site-index .subscribelink {
    text-align: left;
}
.block_course_overview .content {
    margin: 10px;
}
.block_course_overview .content h2.title {
    float: none;
    font-size: 1.3em;
}
.collapsibleregioncaption {
    background: #f4f4f4;
}
.mod-indent-outer, .contentwithoutlink {
    padding: 0 !important;
}
.form-item .form-label {
    text-align: left;
}
.userprofile dl.list dt, 
.form-horizontal .control-label {
    width: auto;
    max-width: 215px;
}
input.fp-btn-choose {
    display: block;
    clear: both;
}

/*************************************************
QUIZ
*************************************************/

/*Editing Quiz*/
#categoryquestions .header a {
    color: #fff;
}
#page-mod-quiz-edit div.quizcontents {
    width: 75%;
}
.questionbankwindow.block {
    width: 25%;
}
#page-mod-quiz-edit .questionbankwindow div.header {
    margin: 0;
}
#page-mod-quiz-edit div.quizpage .pagecontent {
    width: 97%;
}
#page-mod-quiz-edit .addpage {
    margin: 0;
    float: left;
}
#page-mod-quiz-edit div.editq div.question div.content {
    width: 93%;
    padding-bottom: 1em;
}
#page-mod-quiz-edit div.quizpage .pagecontent {
    background: #efefef;
}
#page-mod-quiz-edit div.question div.content div.points input.pointssubmitbutton {
    padding: 1px 8px;
}

/*Order and paging*/
.addnewpagesafterselected {
    float: left !important;
}
#page-mod-quiz-edit .reorder div.question div.content {
    width: 94%;
}
#page-mod-quiz-edit .reorder .questioncontentcontainer,
#page-mod-quiz-edit div.question div.content div.questioncontrols,
#page-mod-quiz-edit div.question div.content div.qorder {
    background: #fff;
}

/*************************************************
Enroll Users
*************************************************/
#page-enrol-users .enrol_user_buttons {
    float: none;
    padding: 10px 0 20px 0;
}
#page-enrol-users .enrol_user_buttons .enrolusersbutton {
    margin-left: 0;
}

/*************************************************
Theme Profile
*************************************************/
#page-admin-theme-index .selectedtheme {
    border: 5px solid #66cc66;
}
#page-admin-theme-index #region-main img {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
}
#page-admin-theme-index .generalbox {
    border: 0 none;
    background: none;
}
#page-admin-setting-themesettings table.flexible, .generaltable {
    width: auto;
}
#admin-customcss textarea {
    width: auto !important;
    height: 20em !important;
}
.theme_screenshot {
    float: left;
    width: 300px;
}
.theme_screenshot img {
    border: 1px solid #ccc;
}
.theme_screenshot h3 {
    margin: 1em 0 0;
}
.theme_screenshot p {
    font-size: 0.9em;
    margin: 0 0 1em;
}
.theme_description {
    margin-left: 350px;
    margin-top: 32px;
}
.theme_description h2 {
    padding-top: 0.5em;
}
#page-admin-setting-themesettingandrotheme input, 
#page-admin-setting-themesettingandrotheme textarea, 
#page-admin-setting-themesettingandrotheme .uneditable-input {
    width: auto;
}
#page-admin-setting-themesettingandrotheme .form-item .form-label {
    width: auto;
    max-width: 220px;
}
#page-admin-setting-themesettingandrotheme .form-item .form-setting,
#page-admin-setting-themesettingandrotheme .form-item .form-description {
    margin-left: 265px;
}

/*************************************************
User Profile
*************************************************/

#page-user-profile .profilepicture {
    float: left;
    margin-right: 20px;
}
#page-user-profile .descriptionbox {
    float: left;
    width: 85%;
}
#page-user-profile .descriptionbox dt {
    width: auto;
}
#page-user-profile .userprofile dl.list dd {
    display: block;
    clear: both;
    margin: 0 20px 8px 0;
}
#page-user-profile .userprofile .description,
#page-user-profile .list {
    margin: 0;
}

/*************************************************
Tabs
*************************************************/
.nav-tabs {
    border-bottom: 1px solid #ccc;
}
.nav-tabs > li {
    margin-top: 0.5em;
}
.nav-tabs > li > a {
    padding: 8px 12px;
    color: #fff;
    background-color: [[setting:buttoncolor]] !important;
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%) !important; /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))) !important; /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) !important; /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) !important; /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ) !important; /* IE6-9 */
    text-decoration: none;
}
.nav-tabs > li > a:hover {
    border-radius: 4px 4px 0 0;
    border: 1px solid transparent;
    text-decoration: underline;
}
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover, 
.nav-tabs > .active > a:focus {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 59%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(59%,rgba(255,255,255,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
    text-decoration: underline;
}
.nav-tabs .active a, 
.nav-tabs .active a:hover {
    text-decoration: none;
    color: #333;
}
.onetopic font.marker {
    font-style: normal;
}
#page-mod-feedback-show_entries .continuebutton {
    text-align: left;
    margin-top: 20px;
}
div.feedback_item_box_left,
div.feedback_item_box_right {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
}

/*************************************************
DOCKING
*************************************************/
/* Dock panel */
#dock .dockeditem_container {
    margin-top: 0;
}
body.has_dock {
    margin-left: 44px;
}
body.has_dock #page {
    padding-left: 20px;
}
body.has_dock div#dock {
    background: #eee;
}
body.has_dock footer {
    position: relative !important;
}
#dock {
    width: 45px;
    top: 0 !important;
}
.has_dock header {
    padding-left: 0;
}
#dock .controls {
    bottom: 10px !important;
}

/* Block */
.moveto.customcommand.requiresjs {
    margin-top: -8px !important;
}
.block .header .commands {
    clear: none;
}
.editing .block .header .commands {
    clear: both;
}

/* Docked */
#dockeditempanel {
    z-index: auto;
}
#dockeditempanel .dockeditempanel_hd .commands {
    float: right;
    margin-top: -20px;
}
#dockeditempanel .dockeditempanel_content {
    width: auto;
    min-width: 250px;
}
#dockeditempanel .dockeditempanel_hd {
    background: [[setting:headerbgcolor]];
    border-radius: 4px 4px 0 0;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #fff;
}

/*************************************************
PLUGINS
*************************************************/
/* Sniffer */
.versionsniffer-warning {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 10px;
    margin: 10px;
}
.versionsniffer-warningtext,
.versionsniffer-warningtext ul {
    color: #c09853;
}

/* Text Editor */
table.mceLayout {
    width: 100% !important;
}

/* Student Retention Report */
#page-report-studentsatrisk-index .fitemtitle {
    padding: 0;
}
#page-report-studentsatrisk-index .fitem.femptylabel {
    display: none;
}
.qflabel {
    padding-left: 0.5em;
}
.mform label {
    /*padding-right: 0.5em;*/
}
#page-report-studentsatrisk-index #fitem_id_pagetype {
    float: left;
}
#page-report-studentsatrisk-index #fgroup_id_actionsgrp .felement.fgroup > input {
    margin: 0 -5px 0 11px !important;
}
#page-report-studentsatrisk-index .table_student,
#page-report-studentsatrisk-index .table_course {
    overflow: auto;
}
#page-report-studentsatrisk-index .pagination {
    text-align: center;
}
#page-report-studentsatrisk-index .pagination a {
    font-weight: bold;
    border: 1px solid #ddd;
    margin-right: 1em;
    text-decoration: none;
    padding: 0.5em 1em;
    background: #ddd;
    display: inline-block;
}
#page-report-studentsatrisk-index .pagination a:hover {
    background: #ccc;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
