/* SCORM player customisation */

#page-mod-scorm-view .boxwidthwide {
    width: auto;
}

/****************************************
SCORM - Launch as a Popup
****************************************/
#page-mod-scorm-player.pagelayout-popup header {
    display: none;
}
#page-mod-scorm-player.pagelayout-popup,
#page-mod-scorm-player.pagelayout-popup #page,
#page-mod-scorm-player.pagelayout-popup #region-main, 
#page-mod-scorm-player.pagelayout-popup #block-region-side-pre, 
#page-mod-scorm-player.pagelayout-popup #block-region-side-post {
    margin: 0 !important;
    padding: 0 !important;
}
#page-mod-scorm-player .yui-layout-doc {
    background: #fff !important;
}

/****************************************
SCORM - Launch in the current window
****************************************/
#page-mod-scorm-player .breadcrumb-button {
    margin: 8px 5px 0 0;
}
#page-mod-scorm-player .breadcrumb-button a {
    color: #fff;
    background: [[setting:buttoncolor]];
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}
#page-mod-scorm-view #intro.generalbox {
        padding: 20px;
        background: #FAFAFA;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        max-width: 100%;
        margin-bottom: 10px;
}
#page-mod-scorm-report .quizattemptcounts {
        margin-left: 0;
}
#page-mod-scorm-player #scormpage {
        background: #eee;
        display: table;
}
#page-mod-scorm-player #scormpage #scorm_object {
        width: 100%;
        height: 100%;
}
.yui3-button[disabled], .yui3-button-disabled, .yui3-button-disabled:hover, .yui3-button-disabled:active {
        opacity: 0.3;
}
#page-mod-scorm-view .jumpto_menu {
    margin-right: 5px !important;
}
.jumpto_menu {
    float: right;
    position: absolute;
    right: 0;
    opacity: 1;
    margin: 3px 100px 0 0;
}
.jumpto_menu button {
    margin: 0;
    padding: 0 10px 4px 10px;
}
.jumpto_menu select {
    margin: 0;
}