/*************************************************
TOTARA 
*************************************************/
/*My Learning*/
#dp-plan-content #dp-plans-description .dp-add-plan-link {
    float: none;
    text-align: left;
    width: auto;
    clear: both;
}
#dp-plan-content #dp-plans-description .instructional_text {
    width: auto;
}
/*My Bookings, My Team*/
#page-my-bookings .fitemtitle, 
#page-my-bookings .felement.fgroup,
#page-my-teammembers .fitemtitle, 
#page-my-teammembers .felement.fgroup {
    width: auto !important;
    margin-left: auto !important;
}

#dp-plans-menu {
    width: 18%;
}
#dp-plan-content {
    width: 80%;
    border-left: 1px solid #ddd;
    padding-left: 1%;
}

/* Required Learning */

#page-totara-program-required .programprogress, 
#page-totara-program-required .summary {
    display: table;
}


@media (max-width: 979px) {
    #dp-plans-menu {
        width: 100%;
    }
    #dp-plan-content {
        width: 100%;
        border: none;
    }
}

/*************************************************
TOTARA MENU
*************************************************/

div#totaramenu  {
    clear:both;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index:1;
}
div#totaramenu a {
    text-decoration: none;
}
div#totaramenu ul  {
    padding:0;
    margin:0;
}
div#totaramenu ul li  {
    float:left;
    font-size:1em;
    font-weight:bold;
    margin:0;
    list-style-type:none;
    text-transform: none;

}
.dir-rtl div#totaramenu ul li {
    float: right;
    margin: 0 0 0 1px;
}
div#totaramenu ul li a {
    display:block;
    padding:12px 15px;
    border-radius: 0;
    background: none;
    border-right: none !important;
    border-top: none !important;
}
div#totaramenu > ul > li.first > a {
    border-radius: 0;
}
div#totaramenu ul ul {
    display:none;
    width:auto;
    min-width:200px;
    position:absolute;
    z-index:100;
    margin: 0 0 0 1px;
}
div#totaramenu ul ul li {
    font-size:0.8em;
    float:none !important;
    margin:0;
}
div#totaramenu ul ul li a {
    padding:5px 15px;
    display: block;
}
div#totaramenu ul li:hover ul {
    display:block;
}

/* styling of menu states */

/* primary nav - not selected */
div#totaramenu ul li a {
    /*color: [[setting:linkcolor]];*/
    color: #333;


}
/* primary nav - not selected - hover */
div#totaramenu ul li a:hover {
    background: #ddd;
    text-decoration: none;
}
/* primary nav - selected */
div#totaramenu ul li.selected a {
    background: [[setting:buttoncolor]];
    color: #fff;
    border-radius: 0;
    border: none;
}
/* primary nav - selected - hover */
div#totaramenu ul li.selected a:hover {
    /* no change */
}

div#totaramenu ul li ul {
    
}
/* fix for IE < 9 */
.ie6 div#totaramenu ul li ul,
.ie7 div#totaramenu ul li ul,
.ie8 div#totaramenu ul li ul {
    border: 1px solid #DDDDDD;
}
/* secondary nav - not selected child of unselected parent */
div#totaramenu ul li li a {
    border: none;
    border-bottom: 1px solid #DDD;
    /*color: [[setting:linkcolor]];*/
    color: #333;
    font-size: 1.2em;
    background: #FFF;
}
/* secondary nav - not selected child of unselected parent - hover */
div#totaramenu ul li li a:hover {
    color: #333;
    background: #F3F3F3;
}
/* secondary nav - not selected child of selected parent */
div#totaramenu ul li.selected li a {
    color: #888;
    background: #FFF;
    border: none;
    border-bottom: 1px solid #DDD;
}
/* secondary nav - not selected child of selected parent - hover */
div#totaramenu ul li.selected li a:hover {
    color: #333;
    background: #F9F9F9;
}
/* secondary nav - selected child of selected parent */
div#totaramenu ul li.selected li.selected a {
    color: #333;
    background: #FFF;
    cursor: default;
}
/* secondary nav - selected child of selected parent - hover */
div#totaramenu ul li.selected li.selected a:hover {
    /* no change */
}

@media screen and (max-width:979px) {
    div#totaramenu ul,
    div#totaramenu ul li,
    div#totaramenu ul li a,
    div#totaramenu ul ul,
    div#totaramenu ul ul li a {
        border: none;
    }
    div#totaramenu ul {
        border-bottom: 1px solid #ddd;
    }
    div#totaramenu ul li {
        float: none;
        border-bottom: 1px solid #ddd;
    }
    div#totaramenu ul ul {
        display: block;
        position: static;
        margin: 0;
    }
    div#totaramenu ul ul li a {
        padding:5px 30px;
    }
    .navbar .nav.pull-right {
        margin-right: 0;
    }
}

/*************************************************
Positions
*************************************************/
#treeview_currently_selected_span_position > label {
    display: inline;
    font-size: 1em;
}
div.totara-dialog td.select #search-tab  select {
    margin: 0 10px;
}


/* Vertical tab tree */
.verticaltabtree-wrapper {
    border-left: 1px solid #333;
}
.verticaltabtree {
    width: 202px;
}
.verticaltabtree .nav-tabs {
    border: none;
}
.verticaltabtree .nav-tabs > li > a, 
.verticaltabtree .nav-tabs > li > a:hover {
    border-radius: 0;
    border-bottom: 1px solid #333;
}
.verticaltabtree .nav-tabs > li {
    margin-bottom: 0;
}
.verticaltabtree .nav-tabs > li, .nav-pills > li {
    float: none;
}
.verticaltabtree .nav-tabs > .active > a, 
.verticaltabtree .nav-tabs > .active > a:hover, 
.verticaltabtree .nav-tabs > .active > a:focus,
.verticaltabtree .nav > li > a:hover, 
.verticaltabtree .nav > li > a:focus {
    border: 1px solid #333;
    border-right: none !important;
}
.verticaltabtree-content {
    border-left: none;
    border-top: 1px solid #333;
}

/*************************************************
Course Catalogue
*************************************************/
.fitemtitle {
    text-align: left !important;
}
.felement.fgroup {
    margin: 0 !important;
}    
