/*******************
General
*******************/
.container-fluid {
    max-width: 1280px;
}
a, a:link, a:visited {
    color: #76232f;
}
a:hover, a:active {
    text-decoration: underline;
}
.breadcrumb {
    color: #8c8c8c;
}
.breadcrumb a {
    color: #fff;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    /*font-family: 'Verdana', sans-serif;*/
    border-radius: 0 !important;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    color: #000;
}
.mform .fitem .felement {
    width: 70%;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #76232f;
    background-image: none;
    filter: none;
    color: #fff;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #841c32;
    background-image: none;
    filter: none;
}
.navbar .nav.pull-right {
    background: #fff;
    margin-right: 0;
    padding: 0 10px 1px 10px;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a {
    background: #76232f !important;
    background-image: none;
    filter: none;
}
.sitetopic .buttons a, 
.sitetopic .buttons a:hover {
    background: none; 
    margin: 0; 
    padding: 0;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    background: #76232f;
    filter: none;
}
.navbar .nav > li > a {
    padding: 10px;
}
div#totaramenu ul li a, 
div#custommenu ul li a {
    color: #fff;
    border-color: #BBBDBF;
    padding: 12px;
}
div#totaramenu ul li a:hover,
div#custommenu ul li a:hover {
    background: #d6d2c4;
    color: #000;
    filter: none;
}
div#custommenu ul li.selected a,
div#totaramenu ul li.selected a {
    background: #d6d2c4;
    color: #000;
    border-radius: 0;
}

/********************************
Header
********************************/
#page-header {
    background: #fff;
}
#page-navbar-wrapper {
    background: #373a36;
}
.logininfo {
    color: #4D4D4F;
    padding-left: 0;
}
.logininfo a {
    font-weight: bold;
}
.navbar-text {
    line-height: 1em;
    padding: 15px 0;
}
.logo {
    padding: 12px 20px;
}
.bannertext {
    margin-top: -55px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
.breadcrumb-nav {
    margin: 0;
}
.breadcrumb-nav .breadcrumb {
    padding: 9px 20px;
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #d6d2c4;
    margin-bottom: 15px;
}
.block .header, 
.block-region .hidden .header {
    background-color: #373a36;
    background-image: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    filter: none;
}
.block .header, 
.block h2.header {
    padding: 0;
}
.block .header .title h2 {
    color: #fff;
    padding: 7px 10px;
    border: none;
    font-size: 1em;
}
.block .content {
    background: none;
    padding: 8px;
}
.block .content li{
    line-height: 1.7em;
    border-bottom: 1px solid #9b988e;
}
.block_settings hr {
    display: none;
}
.block .header .block_action {
    padding: 10px 7px;
}
.block_settings.block .footer {
    padding: 10px 10px 5px 10px !important;
}
.block_search_forums #searchform_search {
    max-width: 150px;
}


/********************************
Tiles
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: center center !important;
    padding: 20px 0;
}
.tileoutlinearea ul {
    color: #fff;
}
.tileoutlinecontent {
    background: #76232f;
    width: 50%;
}
.tileoutlinecontent  p {
    color: #fff;
}
.tiletitle, .tile a:hover .tiletitle {
    background-color: #76232f !important;
    text-decoration: none !important;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
.tile a {
    background: #e6e7e8 url([[pix:theme|tilebg]]) center center no-repeat !important;
    background-size: cover !important;
    color: #fff;
}
.tile a:hover {
    background: #e6e7e8 url([[pix:theme|tilebg_hover]]) center center no-repeat !important;
    background-size: cover !important;
}
#page-course-view-tiles #region-main {
    padding: 15px;
}
/* Topics view */
.tiletopicnav ul li a {
    color: #005689 !important;
    border: 1px solid #005689 ;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #cfebf6 !important; 
    color: #005689 !important;
}
.tiletopicnav ul li a.current {
    background: #00162f !important;
}

/********************************
Docking
********************************/
#dockeditempanel .dockeditempanel_hd {
    background: #ccc;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}

/********************************
Footer
********************************/
#page-footer {
    background: #373a36; 
    color: #fff;
}
#page-footer .text-left {
    float: none;
}
#page-footer p {
    display: inline-block; 
    color: #fff;
}
#page-footer a {
    color: #d6d2c4;
}
#page-footer .logos-footer {
    float: right;
}
#page-footer .logos-footer img {
    width: 100% !important;
    height: auto !important;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#page-site-index .sitetopic .buttons > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 !important;
    padding: 0;
}

/********************************
Login page
********************************/
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;
    background-size: auto 85%;
}
body#page-login-index div#totaramenu,
body#page-login-index div#custommenu,
body#page-login-index .navbar .nav.pull-right {
    display: none;
}
#page-login-index #page-content {
    background: transparent;
}
.loginbox.twocolumns {
    background: #fff;
    -webkit-box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.10);
    box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.10);
}
.loginbox .loginsub {
    padding: 0;
}
.loginbox h2 {
    font-size: 2em;
}
.loginbox.twocolumns .loginpanel {
    border: none;
}
.loginbox.twocolumns .signuppanel {
    border-left: 1px solid #ddd;
    padding-right: 10px;
}
.loginpanel {
    padding: 0;
    border: none;
    margin: 0;
    padding: 10px;
    background: url([[pix:theme|bg_login_transp]]) repeat;
    /*dead centered*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    right: 40%;
    margin: auto;
    height: 375px;
}
.loginbox .loginform,
.loginbox .subcontent {
    text-align: center;
}
.loginbox .loginform .form-input {
    display: inline;
    float: none;
}
.loginbox .loginform .form-input input {
    width: 13em;
    padding: 0.75em;
    text-align: center;
}
.loginbox .loginform .button-input {
    text-align: center;
}
.loginbox .loginform .button-input input {
    width: 8em;
    margin: 8px 0 !important;
}

.loginbox .guestsub, .loginbox .forgotsub, 
.loginbox .potentialidps {
    margin: 0;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    #page {
        padding: 15px;
    }
    .logo, .bannertext p {
        padding-bottom: 10px;
    }
    .bannertext {
        margin: 0;
    }
    .user-picture {
        padding-right: 0 !important;
    }
    #page-footer .year {
        float: none;
    }
    #page-footer #footnotewrapper {
        text-align: center;
    }
    #page-footer .year, #page-footer .text-left {
        display: inline;
    }
    #page-footer .logos-footer,
    #page-footer .helplink    {
        float: none;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    /*Login page*/
    body#page-login-index {
        background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;
        background-size: auto 75%;
    }
    .loginpanel {
        width: auto;
        position: relative;
        height: auto;
        top: none;
        bottom: none;
        right: none;
        left: none;
    }
    .loginbox.twocolumns .loginpanel {
        border-bottom: 1px solid #ddd;
    }
    .loginbox .subcontent,
    .loginbox .loginform,
    .loginbox .loginform .button-input{
        text-align: center;
    }
    .loginbox .loginform .form-input input {
        margin: 0 0 10px 0 !important;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]