/**
 * Docking
**/

body.has_dock {
    margin:0;
}
.dir-ltr body.has_dock #page-header #logo,
.dir-ltr body.has_dock #page-header #logo.custom {
    margin-left:30px;
}
.dir-rtl body.has_dock #page-header #logo,
.dir-rtl body.has_dock #page-header #logo.custom {
    margin-right:30px;
}
body.has_dock #page-content-wrapper {
    padding:0 0 0 30px;
}
body.has_dock.dir-rtl  #page-content-wrapper {
    padding:0 30px 0 0;
}
.dir-ltr body.has_dock #page-content-wrapper {
    border-left:30px solid #FFFFFF
}
.dir-rtl body.has_dock #page-content-wrapper {
    border-right:30px solid #FFFFFF
}
body.has_dock #page-content {
    max-width:1410px;
}
.dir-ltr body.has_dock #page-footer .footer-powered {
    margin-left:30px;
}
.dir-rtl body.has_dock #page-footer .footer-powered {
    margin-right:30px;
}
#dock {
    position:absolute;
    z-index:100;
    margin-top: 88px;
    background:#FFFFFF;
    border:none;
    bottom: 0;
}
#dock.dock-fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    bottom:0;
}
#dock .controls {
    bottom:12em;
    position:absolute;
    padding:0.3em 0;
    background:transparent url([[pix:theme|dock-to-block-bg]]) no-repeat center center;
}
#dock .buttons_container {
    background:transparent;
}
#dock .dockeditem_container {
    margin:0;
}
#dock .dockeditem {
    padding:0;
}
#dockeditempanel {
    z-index:100;
    min-width:250px;
    border:none;
}
#dockeditempanel .dockeditempanel_content {
    border:none;
    background:#FFF;
}
#dock .dockeditem .dockedtitle,
#dock .dockeditem .dockedtitle.activeitem {
    color:#9c9b9b;
    border:none;
    border-bottom:1px solid #C4C0C0;
}
#dock .dockeditem .dockedtitle h2 {
    font-size:0.9em;
    color:#9c9b9b;
    margin:1px 0;
    padding:9px 0px;
    background:#FFFFFF;
}
#dock .dockeditem .dockedtitle.activeitem,
#dock .dockeditem .dockedtitle.activeitem h2 {
    background:#F6F6F1;
}
#dock .dockeditem .dockedtitle h2 svg {
    color:#9c9b9b;
}
#dock .dockeditempanel_hd {
    border:none;
    background:#FFFFFF;
}
#dock .dockeditempanel_hd .hidepanelicon {
    display:none;
}
